<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    
	<title>minimalize - One Page Theme </title>
    
    <meta name="description" content="" />
	<meta name="author" content="" />
    
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- **Favicon** -->
    <link rel="icon" type="image/png" href="favicon.png">
    
    <!-- **CSS - stylesheets** -->
    <link id="default-css" href="style.css" rel="stylesheet" media="all" />
    <link id="shortcodes-css" href="css/shortcode.css" rel="stylesheet" media="all" />
    <link id="skin-css" href="css/meanmenu.css" rel="stylesheet" media="all" />
   
    <link href="css/responsive.css" rel="stylesheet" media="all" />
    
    <!-- **Font Awesome** -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    
	<!-- **Loader** -->
	<link href="css/pace-theme-center-radar.css" rel="stylesheet" type="text/css" />
    
    <script src="js/modernizr-2.6.2.min.js"></script>
</head>

<body>
	<div class="cover"></div>
	<!-- Wrapper div starts here -->
	<div class="wrapper inner-page light-bg">
    	<div class="inner-wrapper">
        	<!-- header div starts here -->
        	<header id="header" class="dt-sticky-menu">
            	<div class="container">
                	<div id="logo">
                    	<a href="index.html">
                    		<img title="" alt="" src="images/logo.png">
                    	</a>
                    </div>
                    <!-- Menu div starts here -->
                    <div class="menu-main-menu-container">
                    	<nav id="main-menu">
                        	<ul id="menu-main-menu">
                            	<li><a href="index.html#home" class="external">Home</a></li>
                                <li><a href="index.html#about" class="external">About</a></li>
                                <li><a href="index.html#services" class="external">Services</a></li>
                                 <li class="current_page_item"><a href="index.html#work" class="external">Work</a></li>
                                <li><a href="index.html#team" class="external">Team</a></li>
                                <li><a href="index.html#blog" class="external">Blog</a></li>
                                <li><a href="index.html#contact" class="external">Contact</a></li>
                                <li><a href="shortcodes.html" class="external">Shortcodes</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Menu div ends here -->
                </div>
            </header>
            <!-- header div ends here -->
            <div id="main">
                <section id="work" class="content inner-page">
                
                	<!-- Breadcrumb Starts Here -->
                	<div class="main-title dark-bg fullwidth-section dt-sc-parallax-section breadcrumb-parallax">
                    	<div class="container">
                        	<h1>Portfolio Detail </h1>
                        </div>
                    </div>
                    <!-- Breadcrumb Ends Here -->
                    
                    <div class="content-main">
                        <div class="fullwidth-section">
                            <div class="container">
                            	<!-- Portfolio Detail Starts Here -->
								<article class="content"> 
									<ul class="portfolio-slider">
                                        <li> <img src="http://placehold.it/1170x686/000000&text=Portfolio+Slider1" alt="" title=""> </li>
                                        <li> <img src="http://placehold.it/1170x686/000000&text=Portfolio+Slider2" alt="" title=""> </li>
                                        <li> <img src="http://placehold.it/1170x686/000000&text=Portfolio+Slider3" alt="" title=""> </li>
                                        <li> <img src="http://placehold.it/1170x686/000000&text=Portfolio+Slider4" alt="" title=""> </li>
                                    </ul>
                                    <div class="dt-sc-hr-invisible-toosmall"> </div>
                                    <h3 class="portfolio-single"> Life is a choice </h3>
                                    <p class="tags"> 
                                    	<i class="fa fa-tags"></i> 
                                        <a href=""> Photography </a>,
                                        <a href=""> Blog </a> 
                                    </p>
                                	<p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. </p>
                                	<p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet facilisis urna. Cras placerat ipsum nulla. Vestibulum quam diam, auctor vitae pretium quis, interdum quis nulla. Curabitur vulputate massa lorem. Morbi vitae rhoncus erat. Duis nec leo massa. </p>
                                	<p> Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec sit amet facilisis urna. Cras placerat ipsum nulla. </p>
                                	<div class="dt-sc-hr-invisible-toosmall"> </div>
                                    <div class="project-details"> 
                                    	<div class="dt-sc-three-fourth column first">  
                                            <h5> Project Details </h5>    
                                            <ul>                    	
                                                <li> <p> <span class="fa fa-user"> </span> <strong> Client Name : </strong> designthemes </p> </li>
                                                <li> <p> <span class="fa fa-map-marker"> </span> <strong> Location : </strong> Melbourne, Australia </p> </li>
                                                <li> <p> <span class="fa fa-link"> </span> <strong> Website : </strong> <a href="" title=""> http://designthemes.com </a> </p> </li>
                                                <li> <p> <span class="fa fa-upload"> </span> <strong> Posted On : </strong> <a href="" title=""> 07 July 2014 </a> </p> </li>
                                            </ul>
                                        </div>    
										<div class="dt-sc-one-fourth column"> 
                                            <h5> Share through </h5>   
                                            <div class="social-media">
                                                <ul>
                                                    <li><a class="active" href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="post-nav-container">
                                        <div class="post-prev-link">
                                            <a rel="prev" href="#"> <i class="fa fa-arrow-circle-left"> </i> Reach for the stars<span> (Prev Entry) </span> </a> 
                                        </div>
                                        <div class="post-next-link">
                                            <a rel="next" href="#"> Life Is Beautiful <span> (Next Entry) </span> <i class="fa fa-arrow-circle-right"> </i> </a> 
                                        </div>
                                    </div>
                                </article>
                                <!-- Portfolio Detail Ends Here -->
                            </div>
                            <div class="dt-sc-hr-invisible"> </div>  
                            <div class="container">
                                <div class="border-title"> 
                                    <h2 class="aligncenter portfolio-single"> Similar Portfolio </h2> 
                                </div>
							</div>
                            <!-- Related Portfolio Starts Here -->
                            <div class="portfolio column gallery all-sort blog-sort woocommerce-sort dt-sc-one-fourth no-space first">
                                <figure>
                                    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
                                    <figcaption>
                                        <div class="fig-content">
                                            <h5> <a href="portfolio-detail.html"> Sweet Candy Packaging </a> </h5><br>
                                            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
                                        </div>
                                    </figcaption>
                                 </figure>
                             </div>
                             <div class="portfolio column gallery all-sort photography-sort woocommerce-sort dt-sc-one-fourth no-space">
                                    <figure>
                                    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
                                    <figcaption>
                                        <div class="fig-content">
                                            <h5> <a href="portfolio-detail.html"> Live and Let Live </a> </h5><br>
                                            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
                                        </div>
                                    </figcaption>
                                 </figure>
                             </div>
                             <div class="portfolio column gallery all-sort webdesign-sort photography-sort dt-sc-one-fourth no-space">
                                    <figure>
                                    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
                                    <figcaption>
                                        <div class="fig-content">
                                            <h5> <a href="portfolio-detail.html"> Begin With a Smile </a> </h5><br>
                                            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
                                        </div>
                                    </figcaption>
                                 </figure>
                             </div> 
                             <div class="portfolio column gallery all-sort webdesign-sort photography-sort dt-sc-one-fourth no-space">
                                    <figure>
                                    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
                                    <figcaption>
                                        <div class="fig-content">
                                            <h5> <a href="portfolio-detail.html"> Love and Life </a> </h5><br>
                                            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
                                        </div>
                                    </figcaption>
                                 </figure>
                             </div> 
                             <div class="dt-sc-hr-invisible"> </div> 
                             <!-- Related Portfolio Ends Here -->
                        </div>
                  	</div>
            	</section>
            </div>
            <footer>
                <div class="copyright">
                    <a href="#home" class="dt-sc-tooltip-top" id="toTop" title="Back To Top"> </a>
                    <div class="container">
                        <p>Copyright © 2014 Minimalize Theme All Rights Reserved | <a href="#">Design Themes</a></p>
                    </div>
                </div>
			</footer>
        </div>
    </div>
	<!-- Wrapper div ends here -->
	 
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
	<script type="text/javascript" src="js/jquery-easing-1.3.js"></script>
	<script type="text/javascript" src="js/plugins.min.js"></script>
	<script type="text/javascript" src="js/jquery.scrollTo.min.js"></script> 

    <script type="text/javascript" src="js/jquery.meanmenu.min.js"></script>     
	<script type="text/javascript" src="js/jquery.carouFredSel-6.2.1-packed.js"></script>  
    <script type="text/javascript" src="js/twitter/jquery.tweet.min.js"></script>  
    
    <script type="text/javascript" src="js/jquery.sticky.min.js"></script>  
    <script type="text/javascript" src="js/jquery.nav.min.js"></script>    
    <script type="text/javascript" src="js/jquery.tabs.min.js"></script>
    	
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="js/jquery.tipTip.minified.js"></script>  
    <script type="text/javascript" src="js/jquery.validate.min.js"></script> 
    
	<script type="text/javascript" src="js/jquery.parallax.min.js"></script>
	<script type="text/javascript" src="js/toucheffects.min.js"></script>
    
	<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="js/pace.min.js"></script>
    
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>   
       
    <script src="js/jquery.gmap.min.js"></script>
    
    <script src="js/jquery.bxslider.min.js"></script>
    
    <script>
		jQuery(function($){
			$('.portfolio-slider').bxSlider({
				auto: true,
				mode: 'fade',
				pager: ''
			});
		});
	</script>
        
    <script type="text/javascript" src="js/custom.js"></script>
    
</body>
</html>
