<div class="dt-sc-one-third first column">
    <article class="blog-entry">
        <div class="entry-thumb">
            <a href="blog-detail.html"><img src="http://placehold.it/370x220/000000&text=Blog+Image" alt="" title=""></a>
        </div>
        <div class="entry-details">
            <div class="entry-title">
                <h4> <a href="blog-detail.html">Creative talks of 2014</a> </h4>
            </div>
            <div class="entry-metadata">
                 <p class="date"> <i class="fa fa-calendar"></i> 22 Jan 2014 </p>
                 <p class="author"> <i class="fa fa-user"></i> Posted By:  <a href="#" title="ram"> admin </a> </p>
                 <p><a href="#"><i class="fa fa-comments"></i>14</a></p>
            </div>
            <div class="entry-body">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </article>
</div>
<div class="dt-sc-one-third column">
    <article class="blog-entry">
        <div class="entry-thumb">
            <a href="blog-detail-with-sidebar.html"><img src="http://placehold.it/370x220/000000&text=Blog+Image" alt="" title=""></a>
        </div>
        <div class="entry-details">
            <div class="entry-title">
                <h4> <a href="blog-detail.html">Alone in the Backyard</a> </h4>
            </div>
            <div class="entry-metadata">
                 <p class="date"> <i class="fa fa-calendar"></i> Mar 05 2014 </p>
                 <p class="author"> <i class="fa fa-user"></i> By :  <a href="#" title="ram"> ram </a> </p>
                 <p><a href="#"><i class="fa fa-comments"></i>4</a></p>
            </div>
            <div class="entry-body">
                <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </article>
</div>
<div class="dt-sc-one-third column">
    <article class="blog-entry">
        <div class="entry-thumb">
            <a href="blog-detail.html"><img src="http://placehold.it/370x220/000000&text=Blog+Image" alt="" title=""></a>
        </div>
        <div class="entry-details">
            <div class="entry-title">
                <h4> <a href="blog-detail.html">2014 Picture Gallery</a> </h4>
            </div>
            <div class="entry-metadata">
                 <p class="date"> <i class="fa fa-calendar"></i> Mar 05 2014 </p>
                 <p class="author"> <i class="fa fa-user"></i> By :  <a href="#" title="ram"> ram </a> </p>
                 <p><a href="#"><i class="fa fa-comments"></i>4</a></p>
            </div>
            <div class="entry-body">
                <p>We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue this is an exact detartmation.&nbsp;We denounce with righteous indignation and dislike men who are so beguiled […]</p>
            </div>
        </div>
    </article>
</div>
<div class="dt-sc-one-third column">
    <article class="blog-entry">
        <div class="entry-thumb">
            <a href="blog-detail-with-sidebar.html"><img src="http://placehold.it/370x220/000000&text=Blog+Image" alt="" title=""></a>
        </div>
        <div class="entry-details">
            <div class="entry-title">
                <h4> <a href="blog-detail.html">Alone in the Backyard</a> </h4>
            </div>
            <div class="entry-metadata">
                 <p class="date"> <i class="fa fa-calendar"></i> Mar 05 2014 </p>
                 <p class="author"> <i class="fa fa-user"></i> By :  <a href="#" title="ram"> ram </a> </p>
                 <p><a href="#"><i class="fa fa-comments"></i>4</a></p>
            </div>
            <div class="entry-body">
                <p>Many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </article>
</div>