<div class="portfolio column gallery no-space all-sort webdesign-sort dt-sc-one-half">
    <figure>
    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
    <figcaption>
        <div class="fig-content">
            <h5><a href="portfolio-detail.html"> Sweet Candy Packaging </a> </h5><br>
            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
        </div>
    </figcaption>
 </figure>
</div>
<div class="portfolio column gallery no-space all-sort photography-sort dt-sc-one-half">
    <figure>
    <img src="http://placehold.it/800x400/000000&text=Portfolio+Image" alt="" title="">
    <figcaption>
        <div class="fig-content">
            <h5><a href="portfolio-detail.html"> Begin With a Smile  </a> </h5><br>
            <a href="portfolio-detail.html" class="dt-sc-button">VIEW project<i class="fa fa-thumbs-o-up"></i></a>	
        </div>
    </figcaption>
 </figure>
</div>